@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/*-------- variables -------*/

:root {

    --color-bg-body: #bae6fd;
    --color-bg-text: #0284c7;
    --color-text-header: #bae6fd;
    --color-bg-title: #082f49;
    --color-bg-section: #7dd3fc;
    --color-bg-header: #0284c7;
    --color-bg-button: #075985;
    --color-text-button: #bae6fd;

}

/*------- font styles ----*/

body {
    font-family: 'Raleway', sans-serif;
    color: var(--color-bg-text);
    background-color: var(--color-bg-body);
    width: 100vw;
    height: 100vh;

}

a, a:visited, nav a, nav a:visited {
    text-decoration: none;
    color: var(--color-text-header);
}

.default-link {
    border-bottom: 1px solid transparent;
}

.active-link {
    border-bottom: 1px solid var(--color-text-header);
}

h1, h2, h3, h4, h5 {
    color: var(--color-bg-title);

}

h1 {
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}


h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    gap: 0;
   grid-template-areas:
      "header"
      "main"
      "footer";
}


/*----------------- header -----------------*/

header {
    background-color: var(--color-bg-header);

}

.logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: 15%;

}

.nav-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-container li {
    border-color: var(--color-bg-header);
}


/*----------------- main -----------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    background-color: var(--color-bg-section);
    padding: 0;
    max-width: 90%;
    margin: 0 10%;



}

.button {
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    border: none;
    border-radius: 12px;
    padding: 0.5rem 3.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
    text-align: center;

}

.button:hover {
    background-color: var(--color-bg-title);
    color: var(--color-text-button);
}

.button img {
    width: 25px;
    aspect-ratio: 1/1;

}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
    gap: 20px;
}

form .button {
    margin: 0 0 0.1rem 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    margin: 2rem 0;
    gap: 10px;
}

.buttonsection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    position: relative;
    max-width: 95%;


}

.toDoList button {
    background-color: var(--color-bg-section);
    position: absolute;
    right: 10px;
    border: none;
    cursor: pointer;

}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
    gap: 25px;
    border: 1px solid var(--color-bg-title);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

span {
    padding: 0.5rem;

}

.notchecked {
    color: var(--color-bg-button);
    text-decoration: none;
    margin-right: 2.5rem;
    margin-left: 0;


}

.checked {
    color: var(--color-bg-button);
    text-decoration: line-through;
    margin-right: 2.5rem;
    margin-left: 0;
}

.high {
    background-image: url("src/assets/flag-duotone-red.svg");
    background-repeat: no-repeat;
    width: 25px;
    aspect-ratio: 1/1;
    padding: 0;
    position: absolute;
    right: 80px;


}

.medium {
    background-image: url("src/assets/flag-duotone-orange.svg");
    background-repeat: no-repeat;
    width: 25px;
    aspect-ratio: 1/1;
    padding: 0;
    position: absolute;
    right: 80px;
}

.low {
    background-image: url("src/assets/flag-duotone-green.svg");
    background-repeat: no-repeat;
    width: 25px;
    aspect-ratio: 1/1;
    padding: 0;
    position: absolute;
    right: 80px;
}

.default {
    background-image: none;

}


/*----------------- footer -----------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-header);
    padding: 1rem 0;
    color: var(--color-text-header);
    font-size: 0.5rem;
    /*height: var(--footer-height);*/


}

/*-----------media queries ---------------*/

@media (max-width: 767px) {
    main {
        max-width: 100%;

    }

    h1, h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin: 1rem 0;
    }

    .nav-container {
        justify-content: center;
        margin-inline: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        margin: 0;
    }

    form .button {
        margin: 0.5rem 0 0 0;

    }

    label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: left;
        margin: 10px;
        gap: 10px;
    }


    .buttonsection {
        margin-top: 10px;
        justify-content: center;
    }

    .toDoList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;
        position: relative;
        max-width: 95%;
    }


}


